@import '../../../var';

.modal {
  min-width: 350px;
  padding: 20px;

  .title {
    font-size: 1.6rem;
    margin-bottom: 16px;
  }

  .row {
    margin-bottom: 16px;

    .inputTitle {
      display: block;
      margin-bottom: 8px;
      font-family: IBMPlexSansRegular, sans-serif;
      font-size: 1.1rem;
    }

    input {
      padding: 10px;
    }

    .incorrect {
      color: red;
      font-size: 0.8rem;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }

  .requirementsWrapper {
    margin-bottom: 16px;

    .requirementsList {
      list-style-type: disc;

      li {
        margin-left: 24px;
        color: #798787;
        font-family: IBMPlexSansRegular, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.2px;
        text-align: left;
        padding-bottom: 4px;

        &::marker {
          font-size: 10px;
        }
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    button {
      flex: 1 1 50%;
      outline: none;
      cursor: pointer;
    }

    .cancelBtn {
      border: 1px solid #ff6060;
      border-radius: 3px;
      background-color: #ffe9e9;
      color: #ff6060;

      &:hover {
        color: #ffe9e9;
        background-color: #ff6060;
      }
    }

    .nextBtn {
      border: 1px solid $mainGreen;
      border-radius: 3px;
      background-color: #dbf8fc;
      color: $mainGreen;

      &:hover {
        color: #dbf8fc;
        background-color: $mainGreen;
      }

      &:disabled {
        border: 1px solid $lightGrey;
        background-color: #e5e5e5;
        color: $lightGrey;
      }
    }
  }
}