@import '../../../var';

.modalTitle {

    display: flex;
    justify-content: space-between;

    h2 {
        color: rgb(19, 19, 20);
        font-family: IBMPlexSansRegular, sans-serif;
        font-size: 1.9rem;
        line-height: 2.6rem;
        letter-spacing: 0.22px;
        text-align: left;
    }
}

.forgotLink {
    display: inline-block;
    margin-top: 15px;
    color: rgb(56, 153, 155);
    font-family: IBMPlexSansMedium, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: left;
    cursor: pointer;
}

.requirementsWrapper {
    margin-top: 16px;

    .requirementsList {
        list-style-type: disc;

        li {
            margin-left: 24px;
            color: #798787;
            font-family: IBMPlexSansRegular, sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.2px;
            text-align: left;
            padding-bottom: 4px;

            &::marker {
                font-size: 10px;
            }
        }
    }
}

.setPassword {
    padding: 0 !important;
}

.incorrectField {
    
    label {
        color: red !important;
    }

    fieldset {
        border: 1px solid red !important;
    }
}

.incorrect {
    color: red;
    font-family: IBMPlexSansRegular, sans-serif;
    font-size: 0.9rem;
}